addict
Cython
filterpy
lap
matplotlib
motmetrics
munkres
numba
numpy
numpy-quaternion
open3d
opencv-python
pylint
pyyaml
scikit-image
scikit-learn
scipy
pycocotools
pytest
requests
seaborn
six
tensorboard
tensorboardX
tensorflow-gpu
termcolor
terminaltables
tqdm
utm
yapf
